.App {
  text-align: center;
}

.headsApp{
  margin: 1rem;
}

.titleComps{
  margin: 1.5rem 0 ;
}
.boxConteiner{
  border: 1px solid black;
  margin: 1rem 0 1rem 0
  
}
.cards{
  display: flex;
  margin: 0 5rem 0 0;
}

